# gitconfig
[user]
    name = Juan Ramirez
    email = tuxgabo@gmail.com
[github]
    user = jg-rc
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  st = status
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[pull]
    rebase = true
[core]
    excludesfile = ~/.gitignore_global
    pager = less -FXRS -x2
    editor = nvim
    whitespace = cr-at-eol
