snippet fun "function (named)" b
function ${1:function_name}`!p snip.rv = space_before_function_paren(snip)`(${2:argument}) {
	${VISUAL}$0
}
endsnippet

snippet clog "Shorthand for console.log"
console.log(${VISUAL}$0)
endsnippet

